AccountsApi/bin/*
AccountsApi/obj/*
AccountsApi/out/*
AccountsApi/unzippedData/*
tmp/data.zip
tmp/data/data.zip
AccountsApi.Tests/bin/*
AccountsApi.Tests/obj/*
tmp/data/options.txt
.vs/highloadcup_aspnet_core/v15/.suo
.vs/highloadcup_aspnet_core/v15/sqlite3/storage.ide

AccountsApi.Tank.Test/obj/*
AccountsApi.Tests/out/*
